/* 
Font Families:

font-family: 'Chango', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Nova Square', cursive;
font-family: 'Karla', sans-serif;

*/

h1 {font-family: 'Chango', sans-serif;}

h2 {font-family: 'Fredoka One', sans-serif;}

p {font-family: 'Karla', sans-serif;}

a {text-decoration: none;}

body {
  background: #111;
  color: #CCF;
  padding: 0;
  margin: 0;
}

/***************************************
Heading

***************************************/

div.heading {
  background: #444;
}

div.heading h1 {
  margin-top: -5px;
  text-align: center;
}

div.heading h2 {
  text-align: center;
  margin: 0;
}

/***************************************
Navigation

***************************************/

nav {
  float: left;
  background: #333;
  width: 100%;
}

div.mainmenu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  
}

div.mainmenu li {
  padding: 0 5%;
  display: inline-block;

}

.mainmenu a, a:visited {
  color: #CCF;
}

.mainmenu a:hover, li.selected {
  background: #447;
}

/***************************************
Content

***************************************/
.content p {
  padding: 5px 1%;
}

/***************************************
Footer

***************************************/

div.footerinfo {
  padding: 0;
  margin: 0;
  background: #101019;
}
div.footerinfo p {
  color: #557;
  text-align: center;
}