/* 
Font Families:

font-family: 'Chango', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Nova Square', cursive;
font-family: 'Karla', sans-serif;

*/

h1 {font-family: 'Chango', sans-serif;}

h2 {font-family: 'Fredoka One', sans-serif;}

a, p {
  font-family: 'Karla', sans-serif;
}

h3, nav a {
  text-decoration: none;
  font-family: 'Nova Square', sans-serif;
}

body {
  background: #111;
  color: #CCF;
  padding: 0;
  margin: 0;
}

.floatleft {
  float: left;
}

/***************************************
Heading

***************************************/

.heading {
  background: #444;
}

.heading a {
  color: #CCF;
  text-decoration: none;
}

.heading h1 {
  margin-top: -5px;
  margin-bottom: 0;
  text-align: center;
}

.heading h2 {
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
}

/***************************************
Navigation

***************************************/

nav {
  float: left;
  background: #333;
  width: 100%;
}

div.mainmenu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  
}

div.mainmenu li {
  padding: 0 5%;
  display: inline-block;

}

.mainmenu a, a:visited {
  color: #CCF;
}

.mainmenu a:hover, li.selected {
  background: #447;
}

/***************************************
Content

***************************************/

#IDabout p {
  padding-top: 0;
  padding-bottom: 0;
}

.content div {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.content p {
  display: inline-block;
  padding: 5px 1%;
}

.content a {
  color: #CCF;
}

.divblock {
}

.bulletlist {
  display: inline-block;
}

#tutorial div{
  margin-left: auto;
  margin-right: auto;
}

#tutorial div.tutorialdiv, div.tutorialdivright {
  float: left;
  padding: 0 5px;
  background: #222;
}

#tutorial a {
  text-decoration: none;
  color: #CCF;
}

#tutorial img {
  float: left;
  display: block;
}

#tutorial p {
  float: left;
}

/*
#tutorial div.tutorialdivright a {
  text-decoration: none;
  color: #CCF;
}
*/

#tutorial div.tutorialdivright img {
  float: right;
  display: block;
}

#tutorial div.tutorialdivright p {
  float: right;
}

.breaker {
  clear: both
}

#tutorial div.tutorialdivwide {
  float: left;
  width: 100%;
  padding: 0 5px;
  background: #222;
}

#tutorial div.tutorialdivwide img {
  max-width: 50%;
  float: right;
  display: block;
}

/***************************************
Footer

***************************************/

div.footerinfo {
  clear: both;
  padding: 0;
  margin: 0;
  background: #101019;
}
div.footerinfo p {
  color: #557;
  text-align: center;
}