/*!
 * Gridpak Beta CSS
 *
 * Generator - http://gridpak.com/
 * Created by @erskinedesign
 */
 
 

/* Reusable column setup */
.col {
    border:0px solid rgba(0,0,0,0);
    float:left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -moz-background-clip:padding-box !important;
    -webkit-background-clip:padding-box !important;
    background-clip:padding-box !important;
}



    /* 1. 2 Column Grid 0px - 459px 
    ----------------------------------------------------------------------------- 
    
    Span 1:    50%
    Span 2:    100%
    
    ----------------------------------------------------------------------------- */

    @media screen and (min-width: 0px) and (max-width: 459px) {
        
        .row {
            margin-left:-0px;
        }
        .col {
            border-left-width:0px;
        	padding:0 0%;
        }
        
        
        
        /*
        Add your semantic classnames in alongside their corresponding spans here. e.g.
        
        .span_3,
        .my_semantic_class_name {
            ...
        }
        */
        
        .span_1 {
            width:50%;
        }
        .span_2 {
            margin-left:0;
            width:100%;
        }
    }

    /* 2. 9 Column Grid 460px - 959px 
    ----------------------------------------------------------------------------- 
    
    Span 1:    11.1111111111%
    Span 2:    22.2222222222%
    Span 3:    33.3333333333%
    Span 4:    44.4444444444%
    Span 5:    55.5555555556%
    Span 6:    66.6666666667%
    Span 7:    77.7777777778%
    Span 8:    88.8888888889%
    Span 9:    100%
    
    ----------------------------------------------------------------------------- */

    @media screen and (min-width: 460px) and (max-width: 959px) {
        
        .row {
            margin-left:-0px;
        }
        .col {
            border-left-width:0px;
        	padding:0 0%;
        }
        
        
        
        
        .span_1 {
            width:11.1111111111%;
        }
        .span_2 {
            width:22.2222222222%;
        }
        .span_3 {
            width:33.3333333333%;
        }
        .span_4 {
            width:44.4444444444%;
        }
        .span_5 {
            width:55.5555555556%;
        }
        .span_6 {
            width:66.6666666667%;
        }
        .span_7 {
            width:77.7777777778%;
        }
        .span_8 {
            width:88.8888888889%;
        }
        .span_9 {
            margin-left:0;
            width:100%;
        }
    }

    /* 3. 12 Column Grid 960px - Infinity 
    ----------------------------------------------------------------------------- 
    
    Span 1:    8.33333333333%
    Span 2:    16.6666666667%
    Span 3:    25.0%
    Span 4:    33.3333333333%
    Span 5:    41.6666666667%
    Span 6:    50.0%
    Span 7:    58.3333333333%
    Span 8:    66.6666666667%
    Span 9:    75.0%
    Span 10:    83.3333333333%
    Span 11:    91.6666666667%
    Span 12:    100%
    
    ----------------------------------------------------------------------------- */

    @media screen and (min-width: 960px) {
        
        .row {
            margin-left:-0px;
        }
        .col {
            border-left-width:0px;
        	padding:0 0%;
        }
        
        
        
        
        .span_1 {
            width:8.33333333333%;
        }
        .span_2 {
            width:16.6666666667%;
        }
        .span_3 {
            width:25.0%;
        }
        .span_4 {
            width:33.3333333333%;
        }
        .span_5 {
            width:41.6666666667%;
        }
        .span_6 {
            width:50.0%;
        }
        .span_7 {
            width:58.3333333333%;
        }
        .span_8 {
            width:66.6666666667%;
        }
        .span_9 {
            width:75.0%;
        }
        .span_10 {
            width:83.3333333333%;
        }
        .span_11 {
            width:91.6666666667%;
        }
        .span_12 {
            margin-left:0;
            width:100%;
        }
    }

